*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
/* .table{
  background: rgb(39, 43, 51);
} */
.container{
  width: 1140px;
  margin: auto;
}
.imag{
  width:100%;
  height: 220px;
}
.tr{
  width: 525px;
  height: 220px;
  background: rgb(39, 43, 51);
  border-radius: 10px;
  display: flex;
  margin:10px 20px;
  overflow: hidden;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.just-center{
  justify-content: center;

}
.td{
  padding: 10px;
}
.Name{
  color: #fff;
  font-weight: 700;
  font-size:30px;
}
.Name:hover{
  color: rgb(255, 152, 0);
}
.Alive{
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
.dot{
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-top: 8px;
}
.Location{
  color: rgb(158, 158, 158);
  font-size: 18px;
  margin-top: 15px;
}
.Expanse{
  color: #fff;
  margin-top: 5px;
}
.Expanse:hover{
  color: rgb(255, 152, 0);
}
.Seen{
  color: rgb(158, 158, 158);
  font-size: 18px;
  margin-top: 15px;
}
.Schwifty{
  color: #fff;
  margin-top: 5px;
}
.Schwifty:hover{
  color: rgb(255, 152, 0);
}

@media  (max-width:1200px) {
  .container{
      width: 965px;
  }
  .tr{
    width: 70%;
  }
}
@media  (max-width:992px) {
  .container{
      width: 765px;
  }
  .tr{
    width: 80%;
  }
}
@media  (max-width:768px) {
  .container{
      width: 590px;
  }
  .tr{
    width: 100%;
  }
}
@media  (max-width: 576px) {
  /* .container{
      width: 300px;
  } */
  .tr{
    width: 100%;
  }
}